.navi {
    background-image: url('../../images/background.jpg');
    z-index: 999 !important;
}

.brand {

    background: -webkit-linear-gradient(#4880EC, #019CAD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}